body{
    background: beige;

}

nav {
    background: darkslategray;
    padding: 15px 0;
    position: center;
    margin: 0 auto; 
    top: 0;
    left: 0;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    z-index: 1000;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px ;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;

}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: darkorange;
    padding: 10px 15px;
    transition: box-shadow 0.3s ease-in-out;
    transition: 0.3s;
    box-sizing: border-box;

}

nav ul li a:hover {
    background:  lightslategrey;
    color: white;
    border-bottom: #2975a1;
    box-shadow: 0px 5px 10px darkorange (255, 107, 129, 0.4);
}

/*.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    background: #9ebad1;
    color: rgb(206, 99, 99);
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 20px;
}*/

.main {
    display:flex;
}

@media (max-width: 600px) {
.main{
    flex-direction: column;
} 
   
}

.content {
    margin: 0 auto; 
    background-color: white;
    width: 100%;
    padding: 20px;
    box-shadow: 5px 5px 5px grey;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-size: large;
}


.left {
    background-color: white;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portrait{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    
}

li {
    list-style: none;
}


.center{
    width: 50%;
    background: lightgrey;
    padding: 15px;
    box-sizing: border-box;
}



.right{
    background-color: white;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



footer {
    background-color: darkslategrey;
    margin: 0 auto;
    border-bottom-right-radius: 25px ;
    border-bottom-left-radius: 25px ;
    padding-right: 20px;
    box-shadow: 5px 5px 5px grey;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
}

.footerNav  {
    list-style: none;
    display: inline;
    text-decoration: none;
    font-weight: bold;
}

footer ul li {
    display:inline;

}

footer a {
    color: rgb(255, 255, 255);
    font-style: none;
    padding-right: 5px;
}

